<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Don't process requests for actual files or directories
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # Route all other requests to index.html
  RewriteRule . /index.html [L]
</IfModule>
