<div class="modal-header custom-header">

    <div class="title-wrapper">
        <h4 class="modal-title">Data & Privacy</h4>
    </div>

    <button type="button" class="close-btn" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


<div class="modal-body">

    <div class="content">

        <p class="link-heading">
            <strong>Data Protection and Privacy Policy of Shoppenation & All-Day Enterprise Applications</strong>
        </p>

        <p>
            This Data Protection and Privacy Policy (“Policy “) is intended to explain to you, as a user’s/Partners of
            All-Day Enterprise Applications
        </p>
        <p>
            Our services, Shoppenation.in, or All-Day Enterprise applications for your personal data we collect about
            you, how we use or process that data, with whom it may be shared, and your options about such uses
            and disclosures.
        </p>

        <p><strong>Categories of personal data collected about you and others</strong></p>

        <p>
            Personal data refers to any information about an identified or identifiable individual. “Sensitive Personal
            Data” means personal data that, once leaked or illegally used, will easily lead to infringement of human
            dignity or harm to the personal or property safety of a natural person, including (but not limited to): (i)
            biometric data; (ii) religion; (iii) specific social status; (iv) medical health information; (v) financial
            accounts; (vi) tracking/location information; and (vii) minors’ data.
        </p>

        <p>
            If you do not agree with the collection / processing of your Personal Data or sensitive personal Data,
            you may not be able to use the certain functionality corresponding to the personal or sensitive Data you
            have not consented for us to collect and process, but would not affect your use of any other functions.
            Reference to personal data in this Policy shall be deemed to include reference to sensitive personal data.
        </p>


        <p>
            We collect, store and use, with your consent where required by the applicable laws, the following
            personal data via our application on sites or on our mobile application, or otherwise interacting with us.
        </p>


        <p><strong>A. General Information Gathering</strong></p>

        <p>
            When you engage in certain activities on our Various enterprise application platforms, such as
            registering for an account, creating your organization or your profile, purchasing a product, submitting
            content and/or posting content on any of our application feature, or sending us feedback, we may
            ask/collect certain information about your organization /promoters ad management Examples of
            personal data of promoters /management may include your first and last name, email address, mailing
            address, telephone numbers, age group, gender and other identifying information such as your picture
            . When setting up your profile on our application /Sites, you may be asked to provide an e-mail address,
            phone number, and address. To a very limited extent, we may be processing your own professional
            revenue data, although mostly such revenue data relates to your organisation, not to you personally.
        </p>

        <p>
            We gather certain information about you based upon where you visit on our Application /Sites, and what other
            activities are performed on our platform so that we can use our system more efficiently. This information,
            which is collected in a variety of different ways, is compiled and analysed on both a personal and an
            aggregated basis. Our technology platform enables us to determine
        </p>

        <ul>
            <li>(i) your priorities and your liking of content based on your viewing pattern so that our application
                should give you the right fit content based on your priorities</li>
            <li>(ii) your purchasing behaviour and your choices ;</li>
            <li>(iii) source of the information sought by you during your search; and (the age of your results data
                (collectively, “System Shared Information “).</li>
        </ul>


        <p><strong>B. Other Platform based Information You Provide for our media posting services</strong></p>

        <p>
            Our Platform may also collect and store contents which are posted on our enterprise applications or provide
            to us in some other manner, including personal and business information that may be contained in any Posts
            /responses/ comment or feedback on your post or through your responses to other members posts in our
            platform. This includes your name, address, e-mail address, and telephone number (if provided and
            applicable); images (both still and moving)/videos and your organization products and services along with
            your organization geography serviceability.
        </p>


        <p><strong>C. Information About Non-Members</strong></p>

        <p>
            We may also collect and store personal data about other people who are not the members of the platform
            provided to us by members, including their businesses, contact details including email addresses and/or
            IP addresses. Where applicable, this data is mainly used in the legitimate interests of members and
            overall security and authenticity of the platform, for the purposes of generating your invitations to
            nonmembers to our online or in-person one-to-one MDR-Connect events, and for business-to-business
            referrals between members for the potential purchase of goods or services from non-members. Also,
            direct marketing to non-members from our platform is possible through the mean of Share (Copy Link)
            to non-members provided the non-members should not feel offended/Should have consent at a principal
            level for you to send business content from our platform. A member may make a referral to another
            member of the name and contact details of a non-member for the purpose of direct marketing to that
            person, whose data shall be stored in platform back end on behalf of the members. If you provide to us
            personal data of any non-member, you must provide a information or link of this Policy to them, and
            principally /formally obtain their consent for you to share their personal data for us to use for the
            purposes as described in this Policy.
        </p>


        <p><strong>D. Other Data Collection from using our sites</strong></p>

        <p>
            Information concerning your computer hardware and software are automatically collected and may be
            shared with other parent and affiliated websites like all-day.in and ad-connect.in. This information may
            include: your IP address, browser type and language, domain names, access times, referring website
            addresses and the content of any undeleted cookies that your browser previously accepted from us with
            the assistance of technology framework like
        </p>

        <p><strong>• Cookies</strong></p>

        <p>
            When you visit our Sites, if you provide access to information consent, we may use one or more “Cookies”
            to make our Sites easier for you to use and to personalize your online experience. Through the use of a
            cookie, we also may automatically collect information about your online activity on our Sites, such as
            the web pages you visit, the links you click, and the amount of time you spend on the Sites. You can
            withhold or withdraw consent, but if you choose to decline cookies, you may not be able to sign in or
            use some of the features offered on our Sites.
        </p>

        <p><strong>• Other Technologies</strong></p>

        <p>
            We may use the ever-evolving Internet technology, such as web beacons and other similar technologies,
            to track your use of our Sites. We also may include web beacons in company e-mail messages,
            newsletters, or notifications to determine whether messages have been opened and/or acted upon. This
            enables us to customize the services we offer our Sites visitors to deliver targeted advertisements and
            to measure the overall effectiveness of our online advertising, content, programming or other activities.
        </p>

        <p><strong>E. Information gathered from Third Parties</strong></p>

        <p>
            We sometimes gathered information from third parties such as corrected delivery addressees from our
            logistic partners or our other service providers or redemption information, and page-view information
            from some partners with which we operate co-branded businesses or for which we provide technical,
            fulfilment, advertising, or other services; search term and search result information from some searches
            conducted through the Web search features; search results and links, including paid listings (such as
            Sponsored Links from Google); and credit history information from credit bureaus, or GSTIN
            Information from government of India Sites which we use to help prevent and detect frauds and getting
            verifications of organization credentials
        </p>

        <p><strong>How your personal data is consumed and the legal basis for its processing</strong></p>

        <p>
            With your consent (where required by the applicable law), we primarily consume your personal data to
            fulfil our Services contracts to provide support or service offerings to you.
        </p>

        <p><strong>a) Contractual Necessity</strong></p>

        <p style="margin-left: 20px;">On the basis of contractual necessity, we consume the required data of members
            organizations and
            membership applicants to:
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>manage your account and provide B2B Customer Support;</li>
            <li>enforce our terms and conditions;</li>
            <li>manage our business;</li>
            <li>enable and leverage the application platform to provide user functionality;</li>
            <li>process payment for any purchases, subscriptions or sales made on our Site, and to protect you
                and ourselves against, or identify, possible fraudulent transactions, and otherwise as needed to
                manage our business.</li>
        </ul>

        <p><strong>b) Legitimate Interest</strong></p>

        <p style="margin-left: 20px;">In our legitimate interests of our nature of business, we may process & consume
            your data to:
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>perform research and analysis about your use of, or interest in, our products, services, or
                content, or products, services or content offered by others; this information may be used to
                help us understand the demographics of our members organisations, identify business
                networking requirements for their businesses and provide them the best suitable solution to
                expand their markets, distribution network and overall growth for or member organizations </li>
            <li>cross market your services/products with our services and our affiliates’ services</li>
            <li>verify your eligibility and deliver online and/or offline on our platform </li>
            <li>protect and defend the rights or Intellectual property of MDR-Connect or safeguarding the
                interest of our member organizations
            </li>
        </ul>

        <p><strong>c) Consent</strong></p>

        <p style="margin-left: 20px;">We take your consent with agree statement during your application for registration
            online on to our
            system
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>providing your organization detail with GSTIN, Mobile Number, email address Promoter first
                name and Last name, area of business and contact address along </li>
            <li>Application interface is provided to enter your organization Complete profile which includes
                management profiles, Products and services, Media and certifications, Client recommendation
                and geography of serviceability </li>
            <li>processing your personal data for the purposes as described in this Policy.</li>
            <li>Business Messaging and contractual terms are also taken from our system to provide you the
                Post Management responses and contracts settlements used for your businesses
            </li>
            <li>Providing your organization Products and services and SKU’s for our listing them on either on
                our All-Day MDR-Connect Online store or on your dedicated store as opted by you in your
                membership plan
            </li>
        </ul>

        <p><strong>d) Legal Necessity</strong></p>

        <p style="margin-left: 20px;">When legally necessary, we may also process your personal & Business data:
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>to establish or exercise our legal rights, or to defend against legal claims;</li>
            <li>in the vital interests of staff, members and users of All-Day Enterprise applications, or the
                public, to protect their personal safety.</li>
        </ul>

        <p><strong>Data retention</strong></p>

        <p>
            Your data will only be retained for as long as necessary to fulfil the purposes for which it was obtained
            and/or meet any applicable legal obligations.
        </p>

        <p>
            We take reasonable and appropriate technical and organizational measures to safeguard your personal
            & Business data against any breach, unauthorized or illegal access, alternation, disclosure or, deletion,
            such as identity verification, encryption, access control, malicious codes resistance, security audit.
        </p>

        <p><strong>How your personal & Business data is disclosed</strong></p>

        <p>
            With your consent (where required by the applicable law), we may share personal & business data with:
        </p>

        <p style="margin-left: 20px;"><strong>A. Authorized Service Providers</strong></p>

        <p style="margin-left: 20px;">Authorized service providers performing services on our behalf, e.g., processing
            credit card payments,
            delivering products and services, providing customer service and marketing assistance, performing
            business and sales analysis, supporting our Sites’ functionality, and supporting other features and
            promotions offered through our application and sites
        </p>

        <p style="margin-left: 20px;"><strong>B. Business partners and Members</strong></p>

        <p style="margin-left: 20px;">From time to time, we may offer products, services, promotions, contests and/or
            sweepstakes on our
            Sites and share personal data with the businesses and to our members with which we partner to provide
            these offers.
        </p>

        <p style="margin-left: 20px;"><strong>C. Franchisees</strong></p>

        <p style="margin-left: 20px;">If you are All-Day enterprise applications users , we may share your personal data
            or Business data with
            our business members and Geo based franchisees partners and Co-Franchisee partners but, in any
            scenario, All-Day Platform remains the master data controller and manages the data.
        </p>

        <p style="margin-left: 20px;"><strong>D. Members & Others</strong></p>

        <p style="margin-left: 20px;">We and our partners may share your personal and business data with other members
            and non-members
            for your business promotions and referral management.
        </p>

        <p style="margin-left: 40px;"><strong>To Others</strong></p>

        <p style="margin-left: 40px;">We may also disclose your information:
        </p>

        <ul style="margin-left: 40px; list-style-type: disc;">
            <li>under legal authority to respond to requests for cooperation from a law enforcement or other
                government agency (including civil and criminal matters);</li>
            <li>to prevent illegal activity, to prevent imminent bodily harm, or to protect ourselves and you from
                people violating our Terms of Service, accessible at our site www.shoppenation.in under our
                Enterprise applications Compliances option . This may include sharing personal data with,
                for example, other companies, lawyers, courts or other government entities where applicable;</li>
            <li>in connection with a substantial corporate transaction, such as the sale of our business, a
                merger, divestiture, consolidation, or asset sale, though in any event, any acquiring entity or
                other third-party assignee will be bound by the provisions of this Policy;
            </li>
        </ul>

        <p style="margin-left: 20px;"><strong>Your Data Protection Rights</strong></p>

        <p style="margin-left: 20px;">, you have the following rights:
        </p>

        <ul style="margin-left: 40px; list-style-type: disc;">
            <li>You have the right to be provided on request with a copy of your personal data.</li>
            <li>You have the right to rectification of inaccurate data we may have recorded about you.</li>
            <li>You have the right to the erasure of your data (“Right to be Forgotten”) which we no longer have
                justification for keeping it with us.
            </li>
            <li>
                You have the right to object to processing of your data which is being done on the basis of our
                legitimate interests.
            </li>
            <li>
                You have the right to refuse to be contacted for direct marketing purposes.
            </li>
            <li>
                You have the right to restrict the processing of your personal & business data when:
            </li>

            <ul style="margin-left: 60px; list-style-type: disc;">

                <li>the basis for its processing is in dispute;</li>

                <li>its accuracy is in dispute;</li>

                <li>we cannot establish a lawful basis for its processing, but you do not wish it to be erased;</li>

                <li>we no longer need your data, but you need it for the establishment, exercise, or defense of legal
                    claims;</li>

                <li>you object, where applicable, to our processing your data on the basis of our legitimate interests,
                    pending verification of whether our interests override.</li>

            </ul>

            <li>
                You have the right to be provided in a structured, commonly used and machine-readable format
                with a copy of your data which we process on the basis of your consent or contractual necessity,
                or to have it transferred directly to another data controller (“Data Portability”).
            </li>
        </ul>

        <p style="margin-left: 20px; margin-top: 10px;">you have the following rights:
        </p>

        <ul style="margin-left: 40px; list-style-type: disc;">

            <li>Right to access and copy of data.</li>

            <li>Right to transfer.</li>

            <li>Right to correct or supplement.</li>

            <li>Right to deletion in certain circumstances.</li>

            <li>Right to limit or withdraw consent.</li>

            <li>Right to request details of processing (including for automated decision-making, and can refuse such
                decision) and of handling rules.</li>

            <li>Right to de-register accounts with taking away your membership from our platform</li>

            <li>Right to complain.</li>

        </ul>

        <p>If you have an online account with us, you have the ability to review and update your personal & business
            information online by logging into your account. You can also review and update your personal
            information and exercise your other rights by contacting us. More information about how to contact us
            is provided below.
        </p>

        <p>
            We encourage you to exercise discretion and caution with respect to your personal data. Once you have
            posted data, you may not be able to edit or delete such data.
        </p>

        <p>
            Any personal data that you disclose through our Sites, or other online forums hosted on our Sites, may
            be collected and used by others. We recommend caution when giving out personal data to others in
            these online forums.
        </p>

        <p style="margin-left: 20px;"><strong>Children’s Privacy</strong></p>

        <p>
            Our Site is a general audience site not intended for use by children, and we do not knowingly collect
            personal data from children. You may access our Sites only if you are of legal age to lawfully form a
            binding contract.
        </p>

        <p><strong>Guidelines we follow</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">

            <li>We will require our franchisees, business partners or service providers to adopt the data protection
                standard contractual clauses </li>

            <li>With your separate consent, we may share, transfer or store your personal data inside or outside of
                India Geography where we are satisfied that adequate levels of protection are in place to protect the
                integrity and security of your personal & business data or adequate security measures are adopted
                in compliance with legal requirements. For example, we may sign agreements with the recipients of
                your personal data. In any case, we will ensure the entity that receives your personal & Business data
                properly handles your personal & business data and your data gets the same level of protection that
                it obtained with our platform </li>

        </ul>

        <p><strong>Changes in the policy </strong></p>

        <p>
            We will occasionally update this Policy to reflect changes in our practices and services. When we post
            changes, we will revise the “Last Updated” date at the top of the Policy. If we make any material changes
            in the way we collect, use, and/or share your personal /business data, we will notify you email to the
            email address you most recently provided us in your account, profile or registration if we have such an
            email address, and/or by prominently posting notice of the changes on our Sites, or where required by
            the applicable laws, obtain your consent. We recommend that you check our Sites from time to time to
            inform yourself of any changes in this Policy.
        </p>

        <p>
            <u>You may contact us for any of you queries at our Data compliances support</u>
        </p>

          <p>Garima.k@all-day.in</p>

        <p>Write in subject “Data Related Communication “</p>

        <p>All-Day MDR-CONNECT</p>

    </div>

</div>