<div class="modal-header custom-header">

    <div class="title-wrapper">
        <h4 class="modal-title">About Us</h4>
    </div>

    <button type="button" class="close-btn" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


<div class="modal-body">

    <div class="content">

        <p><strong>Organization built by Distribution & Retail Commerce businesses insiders</strong></p>

        <p>
            All Day Digital  was born in 2021  from a simple observation :
        </p>

        <p>
            Product Manufacturers have incredible products but struggle to create a distribution and commerce first on digital platform  which is now a business compulsion specially after pandemic times …
        </p>

        <p>
            We are here to change this reality of our industry businesses  with Technology, Data and Deep platform expertise implementing  agile and fast deployments for  Industry leading solutions providing
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Products & services Distribution</li>
            <li>e-Business (B2B & B2B2C) with a step forward for large-scale distribution in e-Commerce</li>
            <li>Marketing & Advertisements along with selling on integrated digital platforms.</li>
            <li>Agentic AI Platforms for Domain Specific Sales force</li>
        </ul>

        <p>
            Businesses & Industries are experiencing significant growth and is undergoing a digital transformation, particularly in its distribution and retail network. This shift towards digitization is driven by the need for increased efficiency, cost reduction, and improved customer experience, ultimately impacting how products and services are bought, sold, and distributed in the market on Business-to-Business (B2B) fronts.
        </p>

        <p>
            Today’s B2B (Business-to-Business) customers expect
            high-quality, simple, and fast ordering capabilities that echoes
            Business-to-Consumer (B2C) experiences.
            To meet these expectations, B2B companies must place a higher emphasis on inventory visibility, speed, and their capacity to meet order deadlines.
            They must process more orders, faster, in a complex environment where e-Commerce is on the rise.
        </p>

        <p>
            However, while B2C organizations have been modernizing their systems to keep pace with consumer expectations and the dynamic requirements of omni-channel ordering and fulfilment, B2B organizations have been much slower to evolve in those areas. The majority of the B2B world has continued to rely on Enterprise Resource Planning (ERP) systems or legacy homegrown systems for order orchestration.
        </p>

        <p>
            This adds cost and inefficiency, slowing production, delivery, and service at a time when speed is critical. It also creates gaps that result in underdelivering to customers, which endangers customer loyalty
        </p>

        <p>
            A successful business depends on various components such as marketing, sales, and retention of customers.
        </p>

        <p>
            But the sustainability of a venture can only be ensured if the products are reaching the market on time, with optimized resources which can only be possible through a well-defined Distribution & Retailing strategy.
        </p>

        <p>
            Manufacturers decide their methods of product distribution along with marketing and selling to end consumer depending on the feasibility, ROI, and nature of the product. Although it is not as simple as it sounds
        </p>

        <p>
            B2B organizations need to look beyond their ERP systems when it comes to
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Market Reach</li>
            <li>Online Order Orchestration &</li>
            <li>Timely Fulfilment</li>
        </ul>

        <p>
            if an organization want to provide B2B clients with the rapid and user-friendly experiences which are already available in the B2C world.
        </p>

        <p>
            Our Products and services are architected and designed keeping in mind the requirement to cater various FMCG/Pharmaceutical/Other fast consumer goods/Industries Organizations to build strong digital distribution channels, markets their products, sell their products online with rapid order Fulfilment giving B2B customers the speed and the effective user interface experiences.
        </p>

        <p>
            As an organization we provide following Solution for our Industry partners and these are
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>All-Day Distribution</li>
            <li>MDR-Connect</li>
            <li>All-Day Vending</li>
            <li>Ai Assistant MR /Field Force with Market Linkage & HCP Engagement for Pharma Industries</li>
            <li>AI Assistant Sales Force with Market Linkage for Retail & Automobile Sector</li>
        </ul>

        <p><strong>** Details of each can be viewed in our products and services section</strong></p>

        <p>We serve following Industries</p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>FMCG & Kirana</li>
            <li>Health Care & Pharmaceuticals</li>
            <li>Hospitals & Medicos</li>
            <li>Automobile & Tyre Industry</li>
            <li>Fashions & Fashion wears</li>
            <li>Beauty Products</li>
            <li>Home Décor and Furnishings</li>
            <li>Farmers & Agri Products</li>
            <li>Electrical & Large Home Consumer Appliances</li>
            <li>Electronics and Mobility</li>
            <li>Sports & Fitness</li>
            <li>Schools & Universities</li>
            <li>Corporates & Office Stationaries</li>
            <li>Cements & Paints</li>
            <li>Media & Advertisements</li>
            <li>Real estate</li>
        </ul>

    </div>

</div>