<div class="modal-header custom-header">
    
    <div class="title-wrapper">
        <h4 class="modal-title">Refund & Cancellation</h4>
    </div>

    <button type="button" class="close-btn" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


<div class="modal-body">

    <div class="content">

        <p>
            Our focus is complete customer satisfaction. In the event, if you are not satisfied 
            /displeased with Retail Products provided by our partners/OEMs and if you 
            provide us the reason for your refund & Cancellation of payments with in 
            three(03) days of your card recharge , we will refund back the money left on the 
            card as balance on card , provided the reasons are genuine and proved after 
            investigation. Please read the fine prints of each products sold on our
            Partner/OEM smart vending machines displayed on vending machines before 
            charging your issued cards , it provides all the details about the services or the 
            product you purchase from the Vending Machines . In case of dissatisfaction from 
            our Partner Products & Services services, Users have the liberty to cancel their 
            Card Re-charge and request a refund of Balance on the card from us. Our Policy 
            for the cancellation and refund will be as follows:
        </p>


        <p><strong>Cancellation Policy</strong></p>

        <p>For Cancellations please contact us at</p>

        <p>Garima.k@all-day.in</p>

        <p>
            Requests received later than 3 business days of your Card re-charge will not be 
            entertained for cancellation & Refund
        </p>


        <p><strong>Refund Policy</strong></p>

        <p>
            We will try our best to provide best Products & service to our user, In case any 
            user is not completely satisfied with our Products & service we can provide a 
            refund. If paid by credit card, refunds will be issued to the original credit card 
            provided at the time of purchase and in case of payment gateway name payments 
            refund will be made to the same account.
        </p>


        <p><strong>MDR-Connect Platform</strong></p>

        <p><strong>Cancellation & Refund Policy</strong></p>

        <p>
            We will not entertain any cancellation request or retreat request for Membership 
            Cancellation after 72 hours of payment. If cancellation is done within 72 Hours 
            then we will refund the entire amount via same source within 07 to 10 working 
            days.
        </p>


        <p>
            If the customer has paid twice for one transaction, the one transaction amount 
            will be refunded via same source within 07 to 10 working days.
        </p>


        <p>For Cancellations & Refunds please contact us at</p>

        <p>Garima.k@all-day.in</p>

    </div>

</div>