<div class="content">
    <h1 class="heading-title">Seller Store SKU Management</h1>
    <div class="card">
        <div class="card-body pl-0 pr-0">
            <div>
                <div class="row topcontent mt-3">


                    <div class="col-md-6 mb-3">
                        <span><strong>Storecode: </strong>3254386586</span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <button type="button" class="btn custom-btn float-right">Buy SKU Listings</button>
                    </div>

                    <tabset class="col-md-12">

                        <tab heading="View My Brand Store SKUs Listings" id="tab1">

                            <div class="card exiting-office-table orderStatus p-0 mt-2">

                                <!-- Card Header -->
                                <div class="card-header">
                                    <div style="display: flex; flex-direction: column;">
                                        <span>View My Brand Store SKUs Listings</span>
                                    </div>
                                </div>

                                <!-- Card Body -->
                                <div class="card-body pa-0">
                                    <div class="row m-0">
                                        <div class="col-md-12 py-2">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="font">S#</th>
                                                        <th class="font">Bought SKUs</th>
                                                        <th class="font">Used SKUs</th>
                                                        <th class="font">Selected Year Store Status</th>
                                                        <th class="font">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tab>

                        <tab heading="View My SKUs Listings On MDR Stores" id="tab2">

                            <div class="card exiting-office-table orderStatus p-0 mt-2">

                                <!-- Card Header -->
                                <div class="card-header">
                                    <div style="display: flex; flex-direction: column;">
                                        <span>View My SKUs Listings On MDR Stores</span>
                                    </div>
                                </div>

                                <!-- Card Body -->
                                <div class="card-body pa-0">
                                    <div class="row m-0">
                                        <div class="col-md-12 py-2">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="font">S#</th>
                                                        <th class="font">Bought SKUs</th>
                                                        <th class="font">Used SKUs</th>
                                                        <th class="font">Selected Year Store Status</th>
                                                        <th class="font">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </tab>

                    </tabset>

                </div>

            </div>
            <br><br>
            <ngx-spinner template="<img src='assets/images/icons/please_wait.gif' />">
            </ngx-spinner>
        </div>
    </div>
</div>