.toplevel {
    background: #fff;
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 5px;
}

.orderStatus td img {
    max-width: 80px;
}

.vipDiv {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 3px;
    min-height: 210px;
}

.card.person-img img {
    max-width: 100px;
}

.orderStatus td {
    vertical-align: middle;
}

.orderStatus td .btn {
    font-size: 13px;
}
.orderStatus small {
    color: #c50f20;
    font-size: 90%;
    font-weight: 600;
}

.bottom-btn {
    float: right;
}

.alert.alert-success {
    padding: 5px 10px;
}

.alert .fa {
    font-size: 25px;
    vertical-align: middle;
    margin-left: 5px;
}

.orderStatus {
.card-header {
    border: 0;
}
.card-body {
    padding: 0;
}
}


.details {
    padding: 0;
}
.details p {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 3px;
}
 .card {
    margin-bottom: 0;

}
.col-md-7.order-number-field .form-group {
    max-width: 300px;
}

.vahan-detail-title {
    font-size: 14px;
    font-weight: 600;
}

.error {
    font-size: 11px;
    color: #bd2130;
}

