<div class="content">

    <h1 class="heading-title">My Payables to Platform and Invoices</h1>
   
    <div class="toplevel">
    <div class="row">
        
        <div class="col-md-3">
                                <div class="form-group">
                                    <label>For Month</label>
                                    <select class="form-control">
                                        <option selected>Select</option>
                                        <option>January</option>
                                        <option>xxxxx</option>
                                        <option>xxxxx</option>
                                      </select>
                                  </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>For Year</label>
                                    <select class="form-control">
                                        <option selected>Select</option>
                                        <option>2020</option>
                                        <option>xxxxx</option>
                                        <option>xxxxx</option>
                                      </select>
                                  </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="clear">&nbsp;</label>
                                    <button type="button" class="btn custom-btn btn-primary">Generate Report</button>
                                 
                            </div>
    </div>
   
   
</div>

 </div>
     
         <div class="row">
             
            <div class="col-md-12 float-right">
             <button type="button" class="btn save-pdf btn-outline-success">Save PDF</button>
            </div></div>
          <div class="card exiting-office-table orderStatus">
           
            <div class="card-body pa-0">
                
              <div class="row">
                  <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>Order<br> Date</th>
                        <th>Customer#</th>
                        <th>Order</th>
                        <th>Total<br> Order Amt.(RS)</th>
                        <th>Amt Due<br> to Platform(RS)</th>
                        <th>Invoice</th>
                        <th>Status</th>
                        <th>Settled<br> Bank Transaction</th>
                        <th>Bank<br> Transaction Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>01</td>
                        <td>12/05/2020</td>
                        <td>2030567898</td>
                        <td>35677</td>
                        <td> 554.00</td>
                        <td> 535.00</td>
                        <td> 76547890</td>
                        <td> Paid</td>
                        <td> B3045645656</td>
                        <td> 19/05/2020</td>
                        </tr>
                        <tr>
                            <td>02</td>
                            <td>12/05/2020</td>
                            <td>2030567898</td>
                            <td>35677</td>
                            <td> 554.00</td>
                            <td> 535.00</td>
                            <td> 76547890</td>
                            <td> Paid</td>
                            <td> B3045645656</td>
                            <td> 19/05/2020</td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>12/05/2020</td>
                                <td>2030567898</td>
                                <td>35677</td>
                                <td> 554.00</td>
                                <td> 535.00</td>
                                <td> 76547890</td>
                                <td> Paid</td>
                                <td> B3045645656</td>
                                <td> 19/05/2020</td>
                                </tr>
                                <tr>
                                    <td>04</td>
                                    <td>12/05/2020</td>
                                    <td>2030567898</td>
                                    <td>35677</td>
                                    <td> 554.00</td>
                                    <td> 535.00</td>
                                    <td> 76547890</td>
                                    <td> Paid</td>
                                    <td> B3045645656</td>
                                    <td> 19/05/2020</td>
                                    </tr>
                                    <tr>
                                        <td>05</td>
                                        <td>12/05/2020</td>
                                        <td>2030567898</td>
                                        <td>35677</td>
                                        <td> 554.00</td>
                                        <td> 535.00</td>
                                        <td> 76547890</td>
                                        <td> Paid</td>
                                        <td> B3045645656</td>
                                        <td> 19/05/2020</td>
                                        </tr>
                                        <tr>
                                            <td>06</td>
                                            <td>12/05/2020</td>
                                            <td>2030567898</td>
                                            <td>35677</td>
                                            <td> 554.00</td>
                                            <td> 535.00</td>
                                            <td> 76547890</td>
                                            <td> Paid</td>
                                            <td> B3045645656</td>
                                            <td> 19/05/2020</td>
                                            </tr>
                          
                        
                   
                    </tbody>
                  </table>
                  </div>
                 
                </div>
            </div>
           
        

           <div class="row bank-details">
               <div class="col-md-10">
               <h5>Bank Settled for above Transaction</h5>
               </div>
               </div>
         
            <div class="card-body pa-0">
                
              <div class="row">
                  <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th>Bank<br> Name</th>
                        <th>IFSC<br> Code</th>
                        <th>Account<br> Number</th>
                        <th>Bank<br> Transaction#</th>
                        <th>Total<br> Order Amt.</th>
                        <th>Bank Batch<br> Transaction Amt.(RS)<br><small>after Invoice Amt. Settlements</small></th>
                        <th>Bank<br> Transaction Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>HDFC</td>
                        <td>HDFC1010890</td>
                        <td>20305678988876</td>
                        <td>B3045645656</td>
                        <td> 4976.00</td>
                        <td> 4792.00</td>
                        <td> 19/05/2020</td>
                        </tr>
                       
                   
                    </tbody>
                  </table>
                  </div>
                 
                </div>
            </div>
           </div>
          </div>
          <br>
          <br>
 