<div class="content">
    <br>
        <div class="card">
            <div class="card-header">Add Point of Sale/Service(POS) for my Store</div>
            <div class="card-body">
            <h6>Domain: <strong>Liquor</strong></h6>
                <div class="form-field">
                    <div class="row">
               <div class="col-md-6">
                            <div class="form-group">
                                <label>Store where POS is to be added</label>
                                <select class="form-control">
                                    <option selected>Select</option>
                                    <option>xxxxx</option>
                                    <option>xxxxx</option>
                                    <option>xxxxx</option>
                                  </select>
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Type of POS to be added</label>
                                <select class="form-control">
                                    <option selected>Select</option>
                                    <option>xxxxx</option>
                                    <option>xxxxx</option>
                                    <option>xxxxx</option>
                                  </select>
                              </div>
                        </div>
                    
                       
                       
                    </div>
                    
                 
                   
                   
                </div>
            </div>
           
          </div>
          <div class="bottom-btn">
            <button type="button" class="btn grey-btn btn-dark">Cancel</button>
            <button type="button" class="btn custom-btn btn-primary">Add POS to my Store</button>
          </div>
         
          <div class="card exiting-office-table">
            <div class="card-header">Exiting Add POS to my Store</div>
            <div class="card-body pa-0">
                <h6>Store: <strong>Daizy Wines & Liquors Road Alpha Hazariagh</strong></h6>
                <table class="table">
                    <thead>
                      <tr>
                        <th>Sr. No</th>
                        <th>Name</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>01</td>
                        <td>Self Take away POS</td>
                        <td><span class="icon"><i class="fa fa-trash"></i></span></td>
                      </tr>
                      <tr>
                        <td>02</td>
                        <td>Walk-in Customer POS</td>
                        <td><span class="icon"><i class="fa fa-trash"></i></span></td>
                      </tr>
                      <tr>
                        <td>03</td>
                        <td>Self Take away POS</td>
                        <td><span class="icon"><i class="fa fa-trash"></i></span></td>
                      </tr>

                   
                    </tbody>
                  </table>
            
            </div>
           
          </div>
          <br><br>
    </div>
    