<div class="content">
    <h1 class="heading-title">CARRY-r MART STORE E-COMMERCE MANAGER</h1>

    <div class="card">
        <div class="card-header">Store Published Items Recieved from B2B Platform Supplier</div>
        <div class="card-body">
            <h6>Finish/Publish Goods Recieved</h6>
            <br>
            <div class="form-field">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="office">Office</label>
                            <select class="form-control" id="office">
                                <option>Delhi</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="irtype">Inventory Recieved Type</label>
                            <select class="form-control" id="irtype">
                                <option>xxxxx</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                          </div>
                    </div>
                
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="pisno">Pending Inventory Shipment No</label>
                            <select class="form-control" id="pisno">
                                <option>15675656</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="orderno">Order No</label>
                            <select class="form-control" id="orderno">
                                <option>18789787</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                              </select>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ssa">Supplier Sub-Account</label>
                            <div class="input-text">357789</div>
                          </div>
                    </div> 
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Domain</label>
                            <div class="input-text">Women Wears</div>
                          </div>
                    </div> 
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ssa">Product Line</label>
                            <div class="input-text">Designer Sarees</div>
                          </div>
                    </div> 
                </div>
                <hr>
                <div class="row">
                   
                    <div class="col-md-12">
                        <h5>Transaction ID: <span>1234567890</span></h5>
                        <p>Supplier Items Recieved & Accepted: <span>For Order #23456 </span></p>
                    </div>
                </div>
            </div>
        </div>
       
      </div>

      <div class="item-subitems">
          
          <div class="row">
              <div class="col-md-3">
                  <div class="card">
                    <div class="card-header">items</div>
                 <div class="card-body">
                    <div class="item-details">
                    <ngb-carousel data-interval="false" data-ride="carousel" data-pause="hover" *ngIf="images">
                        <ng-template ngbSlide>
                          <div class="picsum-img-wrapper">
                            <img style="height: 170px;" [src]="images[0]" alt="Random first slide">
                          </div>
                           <div class="carousel-caption">
                           <label>Item01</label>
                          </div> 
                        </ng-template>
                        <ng-template ngbSlide>
                          <div class="picsum-img-wrapper">
                            <img style="height: 170px;" [src]="images[1]" alt="Random second slide">
                          </div>
                          <div class="carousel-caption">
                            <label>Item02</label>
                          </div>  
                        </ng-template>
                        <ng-template ngbSlide>
                          <div class="picsum-img-wrapper">
                            <img style="height: 170px;" [src]="images[2]" alt="Random third slide">
                          </div>
                          <div class="carousel-caption">
                            <label>Item03</label>
                          </div> 
                        </ng-template>
                      </ngb-carousel>
                  </div>
                </div>
                </div>
              </div>
              <div class="col-md-9">
                <div class="card">
                    <div class="card-header">Sub-Items</div>
                 <div class="card-body">
               
                <div class="sub-item-details">
                    <div class="box">
                    <img style="height: 170px;" src="/assets/images/img-not-found.png" />
                    <span class="label-name">Item 01</span>
                </div>
                <div class="box">
                    <img style="height: 170px;" src="/assets/images/img-not-found.png" />
                    <span class="label-name">Item 01</span>
                </div>
                <div class="box">
                    <img style="height: 170px;" src="/assets/images/img-not-found.png" />
                    <span class="label-name">Item 01</span>
                </div>
                <div class="box">
                    <img style="height: 170px;" src="/assets/images/img-not-found.png" />
                    <span class="label-name">Item 01</span>
                </div>
                </div>
              </div>
              </div>
            </div>
          </div>
      </div>
</div>
