<div class="container-fluid header">
  <div class="row d-flex align-items-center">
    <div class="col-md-1 logo">
      <img src="../assets/images/logo_1.jpg" />
    </div>
    <div class="col-md-6 pl-0">
      <h3>All Day Digital Applications Enterprise Platform</h3>
    </div>
    <div class="col-md-5 justify-content-end d-flex">
      <div class="backoffice-login" (click)="openMdrCoonectModal()">
        <img style="max-width: 25px;" src="../assets/images/MdrConnect.jpg" />
        <span>MDR Connect</span>
        <span class="mdrlogin">Register Now</span>
      </div>
      <div class="backoffice-login" (click)="openLoginModal()">
        <img style="max-width: 25px;" src="../assets/images/login_icon.png" />
        <span>Partner Login</span>
      </div>
      <div class="backoffice-login">
        <img src="../assets/images/d_man.png" />
        <span>Delivery Login</span>
      </div>
      <div class="helpdesk-icon backoffice-login">
        <img src="../assets/images/helpdesk-icon.png" />
        <span>Help Desk</span>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-inverse bg-inverse hidden">
  <div id="navbarsExampleDefault">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home<small>(Site layout)</small></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/StoreeCommerceManager">StoreeCommerceManager<small>(Site layout)</small></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login Page<small>(No layout)</small></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register Page<small>(No layout)</small></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard<small>(App layout)</small></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile">Profile<small>(App layout)</small></a>
      </li>
    </ul>
  </div>
</nav>