.card-header {
    font-weight: 600;
    font-size: 15px;
}

.bottom-btn {
    clear: both;
    width: 100%;
    text-align: right;
    padding: 20px;
}

.bottom-btn .btn {
    margin-left: 10px;
    min-width: 100px;
}