<div class="row">
    <div class="col-md-12">
      <h1 class="heading-title">Title</h1>
    </div>
  </div>
<div class="card">
    <div class="card-header">Add/Edit Team Member</div>
    <div class="card-body">
        <div class="form-field">
            <div class="row reg_address">
              
<div class="col-md-4">
    <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control">
      </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control">
      </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label>Mobile Number</label>
        <input type="text" class="form-control">
      </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label>Role</label>
        <select class="form-control">
            <option>Admin</option>
            <option>User</option>
        </select>
      </div>
</div>

<div class="col-md-4">
    <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control">
      </div>
</div>

 </div>
            
    </div>
   
  </div>
  <div class="bottom-btn"><button type="button" class="btn grey-btn btn-dark">Cancel</button>
    <button type="button" class="btn orange-btn btn-primary">Add</button></div>


  
</div><br>
    <div class="card">
        <div class="card-header">Manage my Credencials</div>
        <div class="card-body"><br>
            <div class="form-field">
                <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Existing Password</label>
                        <input type="text" class="form-control" />
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="text" class="form-control" />
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Re-Enter New Password</label>
                        <input type="text" class="form-control" />
                      </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Primary Email</label>
                        <input type="text" class="form-control" />
                      </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Other Email</label>
                        <input type="text" class="form-control" />
                      </div>
                </div>
    
                </div>
              
            </div>
        </div>
        <div class="bottom-btn"><button type="button" class="btn grey-btn btn-dark">Cancel</button>
            <button type="button" class="btn orange-btn btn-primary">Submit</button></div>
      </div>
      <br>
      <br>
      <br>