<div class="modal-header custom-header">

    <div class="title-wrapper">
        <h4 class="modal-title">Terms & Conditions</h4>
    </div>

    <button type="button" class="close-btn" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


<div class="modal-body">

    <div class="content">

        <p><strong>Terms & Condition</strong></p>

        <p>
            By Registering  or accessing or using our All-Day Solutions and  Services (described below), you are agreeing to enter into a legally binding contract with All Day Digital  (even if you are using third party credentials or using our Services on behalf of  third Party organization). If you do not agree to this contract (“Contract” or “User Agreement”), do not register  account or access or otherwise use any of our Services.
        </p>

        <p><strong>Services</strong></p>

        <p>
            This Contract applies to All-Day Solutions  for using our Shoppenation partner Solution and other services that state that they are offered under this Contract (“Services”), including the offsite collection of data for those Services, such as any of our services plugins.
        </p>

        <p><strong>All-Day Solutions and services</strong></p>

        <p>
            You are entering into this Contract with All-Day  (also referred to as “we” and “us”).
        </p>

        <p>
            As a Partner/Member  of our Services, the collection, use, and sharing of your personal & business data is subject to our Data Protection and Privacy Policy, you acknowledge and have read our Data Protection and Privacy Policy
        </p>

        <p><strong>(i) Partner & Membership Identity</strong></p>

        <p>
            This Contract applies to Partners  of the platform with unique Internal member identity .
        </p>

        <p>
            When you register and join the All-Day Vending Platform  and on approval by our back office, you become a “Partner/Member”. You will have an obligation to pay your Subscription/Transaction  fee as per your Payment Terms & Conditions  after getting an approval from our back office.  As a member/Partner  your membership will be carried forward to avail All-Day Vending  Platform Membership year on year with auto subscription .
        </p>

        <p>
            You can be a Vending OEM /Retailer  , End user or  Vending corporate  Partner  in our platform for availing an  All-Day Vending Platform-based services
        </p>

        <p><strong>As an OEM/RETAILER</strong></p>

        <p>
            You will have an obligation to choose one of a Pricing Plan Provided with our Platforms and Services
        </p>

        <p><strong>As a buyer:</strong></p>

        <p>
            You will have an obligation to see the credentials of the Sellers SKUs on seller online store in particular about the authenticity /genuineness certifications and supporting information about the warranties and product durability as MDR-Connect takes no responsibility and assumes no liability for any certifications or supporting information and serviceability provided by member online store. As a buyer if you wish to use the Escrow account settlement  provided by the platform than you can initiate a process to submit your contract signed with the buyer and on buyer-seller agreement and their contract you can avail the facility of escrow settlement Process.
        </p>

        <p><strong>Seller & Buyer both:</strong></p>

        <p>
            You can be seller and Buyer both and can avail the membership benefits on sellers and buyers’ transactional fees along with keeping your SKU’s on MDR-Connect Store or on your Individual Store
        </p>

        <p><strong>(ii) Changes in contract</strong></p>

        <p>
            We may make changes to this Contract.
            We may modify this Contract, from time to time. If required by applicable law or we make material changes to this Contract, we will provide you notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. We agree that changes cannot be retroactive. If you object to any of these changes, you may choose to withdraw your membership and close an account.  Your continued use of our Services after we publish or send a notice about our changes to these terms means that you are consenting to the updated terms as of their effective date.
        </p>

        <p><strong>(iii) Platform Membership fees & Services based Payments</strong></p>

        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>You’ll honour your payment obligations and you are okay with us storing your payment information. You understand that there may be fees and taxes that are added to our prices.</li>

            <li>Refunds are subject to our policy, and we may modify our prices prospectively.</li>

            <li>If you are registering to our membership and other opted services, you agree to pay us the applicable fees and taxes as per your membership type subscribed and services based on fees   and on approval of your membership Also, you agree that:</li>

            <li>Your purchase may be subject to Special foreign land fees or differences in prices based on location/Geography (e.g., exchange rates and geography market multiplier factor).</li>

            <li>We may store and continue billing your Preferred payment method (e.g., credit card /UPI or debit Card), even after it has expired, to avoid interruptions in your paid Services and to use it to pay for other Services you may buy. You may update or change your payment method.</li>

            <li>We may modify our Annual Membership fee or any of our service prices effective prospectively upon reasonable notice to the extent allowed under the law.</li>

            <li>All of your Membership Subscription are subject to Membership policy.</li>

            <li>We may calculate taxes payable by you based on the billing of the services opted by you from the platform</li>

            <li>You can get a copy of your Platform invoice through your Shoppenation Applications account .</li>

        </ul>

        <p><strong>(iv) Notices & Messages to Members of the Platforms</strong></p>

        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>we will provide notices and messages to you in the following ways: (1) within the Platform or (2) sent to the contact information you provided us (e.g., email, mobile number, physical address).</li>

            <li>You agree to keep your contact information up to date.</li>

        </ul>

        
        <p><strong>(v) You Agree as a Member & Your obligations</strong></p>

        <p><strong>For Membership Eligibility</strong></p>

        <p>
            Here are some promises and you agree to following terms and conditions as a member of MDR-Connect
        </p>

        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>You’re eligible to enter into this Contract and you are at least our “Minimum Age.”</li>

            <li>The Services are not for use by anyone under the age of 18.</li>

            <li>you will have one Membership account for one business, which must be in your organization name and you must be registered as Promoter or Director or Partner or Sole proprietor or a key management person of an organization</li>

            <li>your organization is not already restricted by MDR-Connect from using the Services. Creating an account with false information is a violation of our terms, including accounts registered on behalf of others or persons under the age of 18.</li>

            <li>You will be doing a commerce activity for your products and services listed on SKUs from platform marketplace only and for keeping your business interest and money secured as per mutual business contracts between member organizations, platform will be providing a transaction on escrow-based settlements</li>

            <li>
                Our  platform is also a community building platform and if you choose to use our community building solution  so for that solution we believe in our ancient philosophy of:
                
                <ul style="margin-left:20px; list-style-type: lower-alpha;">
                    
                    <li>"VasudhaIva Kutumbakam” and wish to have life time connection and business relationships. So, core of our community building is based on Referral based businesses and every member enrolled with us should make a promise to provide referrals and to encourage this referral-based community building. To Promote the same platform takes initiative to provide a discount of 100% Annual Membership Fee /Pro-rata basis discounting in Annual fee with following Annual referrals provided by a member in combination of below parameters to promote businesses of fellow members</li>

                    <li>
                        <strong>Referral to build Business Community Every Member is expected to Provide following in combinations to avail 100% Annual fee exemption</strong>

                        <ul style="margin-left:20px; list-style-type: lower-roman;">

                            <li>20(Twenty or more) member Inductions Annually to the platform</li>

                            <li>50 (Fifty) Posts of Other stores Sharing to a group of 5 or More Members/Outside Platform community Annually</li>

                            <li>50 (Fifty) Marketplace Stores Sharing to a Group of 5 or More members for promoting member stores for Sales & revenue growth Annually</li>

                        </ul>

                    </li>

                </ul>

            </li>

            <li>
                You and Your organization agrees and make promise that you will publish content from Platform posts management for member organizations and are bound by the laws of the land following media display Content restrictions or limitations imposed by the Nations/States/Geographies/locations/Religions/communities based/ Prohibited Contents for Public Interest/ Third Parties Prohibited sectors based Contents or contents which may promote Tabacco/Alcohol /Drugs /Act of terror / Act of Sex and Pornographic material including sex Toys /child abuse & Slavery /Bonded Labour/Non-permissible Health Drinks and Health care Products /Vulgar and abusive languages and Slangs hurting person or group of person /Women & Child abuse and Promoting illegal Products and activities as mentioned by the Laws as illegal products & activities which includes arms and ammunitions and anti-national content and third party copyright contents and images/Logos /Trademarks without permissions.
            </li>

            <li>
                Member and Member Organization registered with our Platform agrees that All Day Digital will not be held responsible and accountable for any legality/compliances of the displayed content and member /his or her organization listed will remain solely responsible for any liability arising from the displayed Content or Advertising, including but not limited to liability arising from any laws relating to obscenity, defamation, trade libel, the right of publicity or likeness, the right of or to privacy, any laws relating to intellectual property, and any laws relating to advertising.
            </li>

        </ul>


        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>Members organization may offer their own products and services through our Services, and we aren’t responsible for those Members organizations activities and serviceability.</li>

            <li>
                Others’ Members Content: By using the Platform Services, you may encounter content or other information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive/obscene, or otherwise harmful. You agree that we are not responsible for content or other information made available through or within the Services by others, including Members.
            </li>

            <li>We’ll honor the choices you make about who gets to see your content, including how it can be used for referring and sharing to others and for your business promotions.</li>

        </ul>


        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>You agree and promise to only provide content and other information that you have the right to share and that your Solution based profile will be truthful.</li>

            <li>You agree that any share information/Content on our Services shared by you can be seen, copy, saved, Re-forwaded and processed to be re-used as an information by other members or non-members of MDR-Connect.</li>

            <li>Our Services allow sharing of information (including content) in many ways, such as through your profile, posts, articles, group posts, links to news articles, messages, and In-person Responses and Messages.</li>

            <li>You agree and grant All Day Digital and our affiliates the following non-exclusive license to the content and other information you provide.</li>

            <li>You agree and grant MDR-Connect worldwide, transferable and sub-licensable right to use, copy, modify, distribute, publicly perform and display your content.</li>

            <li>We will not include your content in advertisements without consent.</li>

            <li>You agree that we will provide notices and messages to you via platform or contact details.</li>

        </ul>

        
        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>
                All Day Digital Solutions and Service Availability: You agree to the following
                <ul style="margin-left:20px; list-style-type: lower-roman;">

                    <li>Solutions /Services may change or limit the availability of some features, or end any Services of the platform.</li>

                    <li>We may change, suspend or discontinue any of our Services. We may also limit the availability of features, content and other information so that they are not available to all Members (e.g., by country or by subscription-based access).</li>

                    <li>We don’t promise to store or show (or keep showing) any information (including content) that you’ve shared is not a storage service so we will not be responsible for your content storage. You agree that we have no obligation to store, maintain or provide you a copy of any content or other information that you or others provide, except to the extent required by applicable law and as noted in our Data Protection and Privacy Policy.</li>

                    <li>You agrees that our Solutions/platform does not guarantee you the availability of its platform services 100% of the time or does not guarantee an error free / without malfunctions services or any of the Platform services are prevented, in whole or in part, from performing any required functional obligations or condition hereunder, or from exercising its rights by reason or as a result of any force majeure than MDR-Connect will be excused from performing such obligations or conditions due to reasons such as acts of God, acts of government, acts of terrorism, strikes, lockouts, industrial disturbances, acts of a public enemy, blockades, wars, insurrections, riots, epidemics, fires, floods, explosions, technological failures, breaches, hacks, system vulnerabilities or other similar causes beyond control.</li>

                </ul>
            </li>

        </ul>


        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>
                You will keep your password for platforms applications a secret
                <ul style="margin-left:20px; list-style-type: lower-roman;">

                    <li>You will not share your account with anyone else outside your organization resources and will follow our policies and the law. You will be given a single user access but on request you will be provided a module to generate role based multi-user access.</li>

                    <li>Members are account holders. You agree to protect against wrongful access to your account, not share or transfer your account, and follow laws and policies. You are responsible for anything that happens through your account unless you close it or report misuse.</li>

                    <li>As between you and others (including employers/partners), your account belongs to you. However, if the Services were made available by another party, they may control access and reports.</li>

                    <li>You are responsible for all activities under your account. We are not responsible for unauthorized access unless caused by our breach. You must maintain password security and report misuse immediately.</li>

                </ul>
            </li>

            <li>
                You agree that we are a Technology organization providing tools and services to connect and optimize your business processes so that platforms are utilized to expand markets and businesses. The Platform supports business growth but does not guarantee immediate results.
            </li>

            <li>
                You agree that sellers may provide discounts for SKUs listing and you agree not to use scraping or data extraction tools.
            </li>

            <li>
                Our platform provides Zero Balance wallet facility for internal platform use in closed loop model for discounts and benefits.
            </li>

            <li>
                You agree that All Day Digital has the right to limit how you connect and interact and may restrict, suspend or terminate your account if you breach contract or misuse services.
            </li>

        </ul>


        <p><strong>(vi) Our Solution /Platforms Marketplace</strong></p>

        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>
                These terms govern access and use of marketplace features for registered Members to sell and buy products for business purposes.
            </li>

            <li>
                These Terms constitute an agreement that transactions are purely business transactions and platform is not responsible for defects, delivery commitments, or quality of products/services sold by members.
            </li>

            <li>
                Returns, refund and delivery commitments are responsibility of seller unless otherwise stated in transaction terms.
            </li>

        </ul>


        <p><strong>(vii) No Warranty</strong></p>

        <p><strong>All-Day Digital and its Affiliates</strong></p>

        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>
                MAKE NO REPRESENTATION OR WARRANTY ABOUT THE SERVICES AND PROVIDE SERVICES ON “AS IS” AND “AS AVAILABLE” BASIS.
            </li>

            <li>
                DISCLAIM ANY IMPLIED OR STATUTORY WARRANTY INCLUDING TITLE, ACCURACY, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR PURPOSE.
            </li>

        </ul>


        <p><strong>(viii) Limitation of Liability</strong></p>

        <p>
            UNDER NO CIRCUMSTANCES WILL All-Day Digital BE LIABLE FOR ANY CONSEQUENTIAL, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES INCLUDING LOST PROFITS. LIABILITY IS LIMITED TO TRANSACTION FEE CHARGED.
        </p>

        <p><strong>Please do note in particular</strong></p>

        <p>
            It is expressly agreed that All Day Digital shall indemnify and hold harmless from any claim, loss, liability or expense arising out of inappropriate content display or false commitments made by members.
        </p>

        
        <p><strong>(ix) Intellectual Property Right</strong></p>

        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>
                We’re providing you notice about our worldwide intellectual property rights.
            </li>

            <li>
                All-Day Digital reserves all of its intellectual property rights for the Platform services. Trademarks and logos used by our members organizations on the platform profile are the trademarks of their respective Organizations. ALL “ logos and other All Day Digital trademarks, service marks, graphics and logos used for our Platforms are trademarks or registered trademarks of All Day Digital.
            </li>

        </ul>


        <p><strong>(x) Termination</strong></p>

        <p>
            We can each end this Contract, but some rights and obligations survive. Both you and All Day Digital may terminate this Contract at any time with notice to the other. On termination, you lose the right to access or use the Services. The following shall survive termination:
        </p>

        <ul style="margin-left:20px; list-style-type: disc;">

            <li>Our rights to use and disclose your feedback;</li>

            <li>Content already circulated /shared by you on platform remains with the member organizations and will be in use by the platform</li>

            <li>Any Amount owned by either Party prior to termination owed after termination</li>

            <li>Any Product sold deliveries/Service commitments to be fulfilled to the member organization based on your transaction details of marketplace</li>

            <li>You can visit our Backoffice help Desk for more detail to close your membership account</li>

        </ul>


        <p><strong>(xi) Disputes Resolution, Governing Law & Jurisdiction</strong></p>

        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>
                These Terms and Conditions shall be governed by and construed in accordance with the laws of India
            </li>

            <li>
                Any difference, dispute, conflict or controversy, including any question as to its existence, validity or termination, arising out of or in connection with these Terms and Conditions (“Dispute”) shall, if not amicably settled within 90 (Ninety) days after the receipt of written notice by parties (Member Organization & MDR-Connect), such Dispute be referred to resolution
            </li>

            <li>
                Such dispute shall be resolved in accordance with the Arbitration and Conciliation Act, 1996 by a sole arbitrator duly appointed. The seat and venue of arbitration shall be New Delhi and the arbitration shall be conducted in English. The award of the arbitrator shall be final and binding upon the Parties. Each Party shall bear its own cost of arbitration.
            </li>

            <li>
                The Courts at New Delhi shall have sole and exclusive jurisdiction over any matters related to these Terms and Conditions.
            </li>

        </ul>


        <p><strong>(xii) General Terms</strong></p>

        <ul style="margin-left:20px; list-style-type: lower-alpha;">

            <li>
                This Contract (including additional terms that may be provided by us when you engage with a feature of the other paid Services of the platform) is the only agreement between us regarding the Services and supersedes all prior agreements for the Services.
            </li>

            <li>
                If we don't act to enforce a breach of this Contract, that does not mean that All Day Digital has waived its right to enforce this Contract.
            </li>

            <li>
                You may not assign or transfer this Contract (or your membership or use of Services of platform) to anyone without our consent. However, you agree that All Day Digital may assign this Contract to its affiliates or a party after Merger & Acquisition without your consent. There are no third-party beneficiaries to this Contract.
            </li>

            <li>
                You agree that the only way to provide us legal notice is at the email/or through a Digital copy provided to us at our Back office
            </li>

        </ul>


        <p><strong>Contact us</strong></p>

        <p>Garima Kapoor</p>

        <p>Head Compliances Control – All Day Digital</p>

        <p>Garima.k@all-day.in</p>

        <p>Plot no. 530 Udyog Vihar Phase 5</p>

        <p>Gurugram – 122016</p>


    </div>

</div>