
  
  .login-field {
    padding: 0 10px;
}

label.form-forget {
    float: right;
    color: #007bff;
    font-size: 12px;
    padding: 3px;
}

.form-control input[type="text"],
form-control input[type="password"] {
    height: 40px;
}

/* button.close {
    margin: 10px;
    font-size: 30px;
} */

.login-field .form-group label {
    font-weight: 600;
}

button.reg-close {
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
}
button.btn.custom-btn[type="submit"] {
    background: #ba080b;
}

.login-field .bottom-btn .btn {
    min-width: 130px;
}
