<div class="modal-header custom-header">

    <div class="title-wrapper">
        <h4 class="modal-title">All-Day Vending</h4>
    </div>

    <button type="button" class="close-btn" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


<div class="modal-body">

    <div class="content">

        <p>
            All-Day Vending is a Smart Vending and Automated Retail platform for Self-servicing kiosks, collectively,
            comprises of 3 pillar components:
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Problend@Core a plugin-based cross-platform smart vending software at the machine-side</li>

            <li>All-Day Problend Webapp a smart vending remote manageability cloud application</li>

            <li>All-Day Problend Mobile App a smart vending remote manageability mobile application</li>
        </ul>

        <p>
            It enables the smart vending machines, interactive self-service ordering kiosks and all other automated and
            unattended retail equipment to be empowered with and capable of the following smart vending features and
            functionalities for the most of unattended retail experiences.
        </p>

        <img style="width: 60%;" src="assets/images/alldayvending1.png">


        <p><strong>Remote Manageability and Telemetry</strong></p>

        <p>
            Over the internet, whether via the 3G, 4G or the fastest 5G network, All-Day Vending Cloud provides the
            remote manageability and telemetry of the intelligent vending machines and Shakes/Drinks ordering kiosks.
            Software updates and content management for digital signage, interactive screen content, and themes can
            be accomplished remotely and securely for any number of smart vending machines, touch screen vending
            machines, It allows the vending operators and retailers to remotely manage the large fleet of their vending
            machines from anywhere, monitor the live sales and stock status, manage and update the product pricing,
            photos, and details, upload and schedule the video signage content to play on the vending kiosks and view
            the actual play logs, Stock Replenishment Alerts & various comprehensive reporting and data analytics and
            so on.
        </p>


        <p><strong>Smart Vending & Automated Retail Ecosystem</strong></p>

        <p>
            Smart vending & automated retail platform creates an ecosystem for the smart vending and unattended retail
            operating environment and connects each partner in the value chain.
        </p>

        <p>
            It enables the participation of various ecosystem partners in the operation, to interact with each other on
            the same platform. All-Day Problend smart vending ecosystem builds value for all parties in a given market
            by engaging more consumers, simplifying operating processes, and enable unlimited scalability,
            flexibilities, and possibilities in smart retail and automated retail environment.
        </p>

        <p>
            It also encapsulates the multiverse of functionalities to fulfill the needs of various perspectives. Through
            various different channels, the ecosystem partners from vending machine manufacturers, The Vend Account
            Locations (the Account sites / locations where the vending machines are deployed), restock personnel,
            service team, retailers, advertisers to consumers interact, operate and access with different roles and
            access rights, to a multitude of diverse functionalities including various unattended payments and
            identifications, social media, interactive content, advertisement and all variety of existing and new
            functions in the future.
        </p>


        <p><strong>Our Solution Eco-System</strong></p>

        <img style="width: 60%;" src="assets/images/alldayvending2.png">

    </div>

</div>