<div class="modal-header custom-header">

    <div class="title-wrapper">
        <h4 class="modal-title">Connect</h4>
    </div>

    <button type="button" class="close-btn" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


<div class="modal-body">

    <div class="content">

        <p><strong>Partner With All Day Digital Platforms</strong></p>

        <img style="width: 60%;" src="assets/images/Connect.jpg">

        <p>
            We are constantly looking for Market Partners so expand your portfolio with our innovative and Next Generation Tech. Platforms and get lucrative partnerships with fast & agile deployments methodology .
        </p>

        <p><strong>Ideal for</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Resellers</li>
            <li>System Integrators</li>
            <li>Consulting organizations</li>
            <li>Domain based Marketing companies</li>
            <li>Products & Services Franchise companies</li>
            <li>Digital Marketing Organizations</li>
            <li>Freelancers & Senior Domain consultants</li>
            <li>Social Media Influencers</li>
            <li>Domain Process Audit Organizations</li>
            <li>Vending Machines Manufacturers</li>
            <li>Event Organizers & Clubs</li>
            <li>Schools /Universities/Hospitals/corporates</li>
        </ul>

        <p>
            Add a high value products to your Service offerings and earn on referrals , full deployments or become full time market franchise for domains/Geography
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Get Sales Trainings and Sales Kit of our Platform after signing a formal partnership agreement with online priority Support to your clients</li>
            <li>Faster win strategy formation with our partners sharing competitors industry data and our Platform USPs</li>
            <li>Higher Earnings</li>
            <li>Providing Promotional Growth to our partners on our Business OTT Platform Ad-Connect</li>
            <li>Provide Optional Tools to monetize  All stakeholders keeping our partner interest as priority.</li>
        </ul>

        <p><strong>For Partnership queries contact</strong></p>

        <p>Rajesh Handa</p>
        <p>+91 9810061994</p>
        <p>Rajesh.h@all-day.in</p>

    </div>

</div>