<div class="modal-header custom-header">

    <div class="title-wrapper">
        <h4 class="modal-title">MedX HCP Engagement</h4>
    </div>

    <button type="button" class="close-btn" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


<div class="modal-body">

    <div class="content">

        <img style="width: 60%;" src="assets/images/medex.png">

        <p>
            Pharmaceutical Healthcare Professional (HCP) selling is a highly specialized, regulated, and increasingly digital-focused B2B function aimed at educating doctors, nurses, and pharmacists to influence patient treatment decisions. The modern approach has shifted from solely in-person sales visits to a hybrid, Omni channel model that merges data-driven insights with traditional relationship-building
        </p>

        <p>
            The Pharmaceutical industry is in a state of constant evolution, driven by advancements in technology, shifting HCP and patient needs, and an increased focus on personalized care. Within this dynamic environment, digital HCP engagement has become crucial, utilizing various online channels and platforms to connect with healthcare professionals
        </p>

        <p><strong>MedX Omni-channel HCP engagement – Putting the power of Agentic AI in your hands disrupting legacy go-to-market models</strong></p>

        <p>
            Our AI Medical Representative / Field Force Assistant & Market Linkage Platform isn’t just about deploying multiple channels; it’s about creating a unified ecosystem where each channel complements and reinforces the others. This allows pharmaceutical companies to build stronger connections with HCPs, ultimately leading to better patient care and improved health outcomes transforming the Pharmaceutical field force unlocking the power of data & infrastructure investments . The platform gives you the power to engage your customer with more agility and effectively bringing tomorrow’s customer centric pharma field force today providing MedX Omni channel and Digital Engagement Platform
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>
                Hybrid Models: While in-person visits remain relevant for complex sales, Almost 60%  of HCPs now a days  favor digital platforms so MedX AI Medical Representative provide a digital platform for HCP engagement
            </li>

            <li>
                Virtual Detailing: E-detailing (online contents ) is growing rapidly, with the global market projected to grow significantly by 2030. Hence MedX environment Provide an integrated Personalized dedicated OTT Channel to Pharma companies on enterprise distribution license basis so that complete online content is distributed across HCPs for training & providing Drugs benefits and clinical data for market awareness .
            </li>

            <li>
                Social Selling: More than 90% of HCPs use social media, and roughly 65% use it for professional networking. MedX provide an integrated Social platform to be used to engage HCPs with personalized, relevant content
            </li>
        </ul>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>
                EHR Integration: MedX AI Assist with their unique Brand Reminder Services involves embedding non-promotional drug information directly into Electronic Health Records (EHRs) to meet HCPs within their workflow.
            </li>
        </ul>

        <p><strong>Providing Industry’s one of the best available Integrated Agentic AI Pharma Field force for effective selling providing</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>
                Trusted Advisor Model: Sales reps must transition from simply selling to becoming "trusted advisors" by providing high-value and fact based drugs/devices content.
            </li>

            <li>
                Value-Oriented Interaction: Due to time constraints, HCPs reward engagement that provides scientific, clinically useful information (e.g., safety data, patient assistance programs).
            </li>

            <li>
                Dynamic Targeting: Sales reps update their focus weekly to reach the highest-potential prescribers based on real-time insights.
            </li>

            <li>
                Regulatory Compliance and Ethical Standards
            </li>
        </ul>

    </div>

</div>