<div class="modal-header custom-header">

    <div class="title-wrapper">
        <h4 class="modal-title">Learn More</h4>
    </div>

    <button type="button" class="close-btn" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>

</div>


<div class="modal-body">

    <div class="content">

        <p><strong>Shoppenation</strong></p>

        <p>
            Shoppenation is All Day Digital SAAS enterprise applications users Eco-system for our partners and their
            users powering organizations their RTM growth with our various Automated and AI Led Sales , Distributions
            and Retail commerce features
        </p>

        <p>
            Following SAAS ecosystems collectively define Shoppenation as an enterprise application platform and these
            Industry Based Solutions are categorized as following
        </p>

        <p><strong>1. MDR-Connect Registration & Payment</strong></p>

        <p>Following Options to be used by User</p>

        <ul class="custom-list">

            <li>
                New Member Registration for Approval of your Annual Membership

                <div class="action-btn">
                    <button class="red-btn">Registration</button>
                </div>
            </li>

            <li>
                Tracking your Membership Approvals

                <div class="action-btn">
                    <button class="red-btn">Track your Registration Status</button>
                </div>
            </li>

            <li>
                Annual Payments for New Membership after Approval

                <div class="action-btn">
                    <button class="red-btn">Payments</button>
                </div>
            </li>

        </ul>

        <p><strong>2. Partner login</strong></p>

        <img style="width: 30%;" src="assets/images/partnerlogin.png">

        <p>Following Platform options – for various eco-systems</p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Distribution Management System users ( Primary /Secondary and Tertiary channel network) with a platform
                selection as</li>
        </ul>

        <p><strong>All Day Distribution (for)</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Direct Manufacturer</li>
            <li>Raw product Providers</li>
            <li>Super Distributors /First Line Distributors Networks</li>
            <li>Secondary Distributors /Second Line Distributors</li>
            <li>Full line whole-sellers /Speciality Distributors/Retailers</li>
            <li>Service Providers</li>
        </ul>

        <p>
            Retail D2C Business for retailers and E-commerce and SKUs automations for Retail Direct to Consumers )
            Providing end-to-end E-commerce automation and on demand Mobile Interface this is an optional service
            provided for All-Day Distribution retailers opting for Direct to consumer e-Commerce with a platform
            selection as
        </p>

        <p><strong>All Day Shop (for)</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Direct Manufacturer /Retailer D2C Business users</li>
        </ul>

        <p>
            Member Organization users for Organization-to-Organization Networking & Dedicated B2B stores Users with a
            platform selection as
        </p>

        <p><strong>MDR-Connect (for)</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Member Organization users</li>
        </ul>

        <p>
            Vending system Stakeholder users with a platform selection as
        </p>

        <p><strong>All Day Vending (for)</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>Vending Machines Manufacturers</li>
            <li>Vending machines Marketers & Service Providers</li>
            <li>Vending Machines Stock Replenishers</li>
            <li>Vending Machine Clients (Schools/Hospitals/Corporates)</li>
            <li>Vending Retail Product/ Service Buyers end consumers (With/without cards)</li>
        </ul>

        <p><strong>Application – for various Platform</strong></p>

        <p>
            Applications are primarily the Business Domain under which Business Organization is registered in our System
            with Following Industries
        </p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>FMCG & Kirana</li>
            <li>Health Care & Pharmaceuticals</li>
            <li>Hospitals & Medicos</li>
            <li>Automobile & Tyre Industry</li>
            <li>Fashions & Fashion wears</li>
            <li>Beauty Products</li>
            <li>Home Décor and Furnishings</li>
            <li>Farmers & Agri Products</li>
            <li>Electrical & Large Home Consumer Appliances</li>
            <li>Electronics and Mobility</li>
            <li>Sports & Fitness</li>
            <li>Schools & Universities</li>
            <li>Corporates & Office Stationaries</li>
            <li>Cements & Paints</li>
            <li>Media & Advertisements</li>
            <li>Real estate</li>
            <li>All-Day Problend ( Vending Machine)</li>
        </ul>

        <p><strong>User Mobile number – for various Platform & Application</strong></p>
        <p>User Password to access services as per user type</p>

        <p><strong>3. MedX HCP Engagement</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>For MedX Health care Professionals the application will provide following option to access their Digital
                Platform</li>
        </ul>

        <p>User Mobile number</p>
        <p>User Password</p>

        <p><strong>4. Delivery Login</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>For B2B & D2C Logistic Partners the application is provided to access their Digital Platform</li>
        </ul>

        <p>User Mobile number</p>
        <p>User Password</p>

        <p><strong>5. Helpdesk</strong></p>

        <ul style="margin-left: 20px; list-style-type: disc;">
            <li>For all our Industry solution partners we have Technical Help Desk offsite Support where they can log
                any issues /Bugs encountered by them and a support will be provided as per the committed SLAs and to
                access this platform users will have to enter following</li>
        </ul>

        <p>User Mobile number</p>
        <p>User Password</p>

    </div>

</div>