
<carousel [noPause]="false">
  <slide>
    <img src="../assets/images/1.png" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Do More Of ....<br><span>What Makes You Happy</span></h3>
      <p>Ability to Bridge<br> Business to Business & Direct to Consumers Commerce</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/images/2.png" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Do More Of ....<br><span>What Makes You Happy</span></h3>
      <p>Ability to Bridge<br> Business to Business & Direct to Consumers Commerce</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/images/3.png" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Do More Of ....<br><span>What Makes You Happy</span></h3>
        <p>Ability to Bridge<br> Business to Business & Direct to Consumers Commerce</p>
    </div>
  </slide>
</carousel>

<section class="slider">

  <!-- <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Do More Of ....<br><span>What Makes You Happy</span></h3>
        <p>Ability to Bridge<br> Business to Business & Direct to Consumers Commerce</p>
        <button type="button" class="btn btn-primary custom-btn shop-btn">Shop now from Stores Directly</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Do More Of ....<br><span>What Makes You Happy</span></h3>
        <p>Ability to Bridge<br> Business to Business & Direct to Consumers Commerce</p>
        <button type="button" class="btn btn-primary custom-btn shop-btn">Shop now from Stores Directly</button>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Do More Of ....<br><span>What Makes You Happy</span></h3>
        <p>Ability to Bridge<br> Business to Business & Direct to Consumers Commerce</p>
        <button type="button" class="btn btn-primary custom-btn shop-btn">Shop now from Stores Directly</button>
      </div>
    </ng-template>
  </ngb-carousel> -->
</section>
<div class="our-services padding">

  <div class="container pl-0 pr-0">
    <div class="section-title">
      <h1 class="title">Shoppenation Business Domains</h1>
    </div>
    <div class="row">
      <div class="col-sm-3" (click)="openLoginModal()">
        <section class="gray-scale-frame">
          <div class="content">

            <a href="#"><span class="img"><img src="../assets/images/kirana_img.jpg" /></span></a>
            <h3>Kirana/Grocery Retail</h3>

          </div>
          <div class="border-box"></div>
        </section>
      </div>
      <div class="col-sm-3">
        <section class="gray-scale-frame">
          <div class="content">

            <a href="#"><span class="img"><img src="../assets/images/restaurants_img.jpg" /></span></a>
            <h3>F&B/Restaurants</h3>


          </div>
          <div class="border-box"></div>
        </section>
      </div>
      <div class="col-sm-3">
        <section class="gray-scale-frame">
          <div class="content">

            <a href="#"><span class="img"><img src="../assets/images/la-cave-wine-bars.jpg" /></span></a>
            <h3>Wine & Liquor</h3>


          </div>
          <div class="border-box"></div>
        </section>
      </div>

      <div class="col-sm-3">
        <section class="gray-scale-frame">
          <div class="content">

            <a href="#"><span class="img"><img src="../assets/images/fashion_img.jpg" /></span></a>
            <h3>Fashion</h3>


          </div>
          <div class="border-box"></div>
        </section>
      </div>
    </div>
  </div><br><br>
</div>

<div class="digital-transformation">
  <div class="row">
    <div class="col-sm-3 pr-0">
      <h2>Digital Transformation Platform for Businesses</h2>
    </div>
    <div class="col-sm-7 pl-0">
      <div class="dtps-provider">
        <div class="row">
          <div class="col-sm-5">
          <h5>Get your Brand Direct to Consumers & be ready for Future...</h5>
          </div>
          <div class="col-sm-2">
            <div class="img"><img src="../assets/images/logo_1.jpg" /></div>
          </div>
          <div class="col-sm-5">
            <p><strong><u>Revolution for Businesses</u></strong></p>
            <p>
              Selling online with your own website powered with an e-commerce engine integrated with
              your onw brand, website and marketplace has never been so easier, faster and scalable</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2 learnmore">
      <button type="button" class="btn btn-primary learn-more-btn">Learn More</button>
    </div>
  </div>
</div>

<!-- <ng-template #template>
  <div class="free-coupon">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <div class="img"><img src="../assets/images/coupon.png" /></div>
      <button (click)="openCouponModal(couponModal)" type="button" class="btn">3 Months Free Usage Coupon</button>
    </div>
  </div>
</ng-template> -->

<!-- <ng-template #couponModal>
  <form [formGroup]="couponForm" (ngSubmit)="generateCoupon()">
    <div class="modal-header">
      <h4 class="modal-title">Request for Prepaid Coupon</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Enter Mobile Number</label>
        <input type="text" formControlName="mobileNumber" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }">
        <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
          <div *ngIf="f.mobileNumber.errors.required">Mobile Number is required</div>
          <div *ngIf="f.mobileNumber.errors.pattern">Please, Enter 10 digit Mobile Number</div>
        </div>
        <div *ngIf="mobileMsg" class="mobile-msg alert-info">
          <div class="existmsg">{{mobilemsg}}</div>
          <div class="newupdatmsg">
            Your Coupon Code: {{Coupon}}<br>
            {{message}}</div>
        </div>
      </div>
     
      <button type="submit" class="btn custom-btn">Request for Prepaid Coupon</button>
    </div>
  </form>
</ng-template> -->